@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>.NET MVC</h1>
    <p class="lead">Simple MVC with .NET, C#, Entity Framework</p>
    <p><a href="~/Data" class="btn btn-primary btn-lg">Try it!</a></p>
</div>
